@model MvcOnlineTicariOtomasyon.Models.Siniflar.Personel
@{
    ViewBag.Title = "PersonelEkle";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}
<br />
<h2>Personel Ekle</h2>
<br />
<form class="form-group" method="post">
    @Html.HiddenFor(x => x.Personelid)
    <input class="form-control" type="hidden" name="Durum" value="true" />
    @Html.LabelFor(x=>x.PersonelAd)
    <input class="form-control" type="text" name="PersonelAd" maxlength="30" required />
    <br />
    @Html.LabelFor(x=>x.PersonelSoyad)
    <input class="form-control" type="text" name="PersonelSoyad" maxlength="30" required />
    <br />
    @Html.Label("Personel Görsel")
<input class="form-control" type="text" name="PersonelGorsel" maxlength="250" required />
    <br />
    @Html.Label("Departman Adı")
    @Html.DropDownListFor(x => x.Departmanid, (List<SelectListItem>)ViewBag.dgr1, new { @class = "form-control" })
    <br />

    @*@Html.LabelFor(x => x.Durum)
      @Html.TextBoxFor(x => x.Durum, new { @class = "form-control" })
        <br />*@
    <button class="btn btn-primary">Kaydet</button>
</form>