@using MvcOnlineTicariOtomasyon.Models.Siniflar
@model List<SatisHareket>
@{
    ViewBag.Title = "SatisDetay";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<h2>Satış Detayları</h2>

<table id="tbl1" class="table table-bordered">
    <thead>
        <tr>
            <th>Satış ID</th>
            <th>Ürün</th>
            <th>Cari</th>
            <th>Personel</th>
            <th>Fiyat</th>
            <th>Adet</th>
            <th>Toplam</th>
            <th>Tarih</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var x in Model)
        {
            <tr>
                <td>@x.Satisid</td>
                <td>@x.Urun.Urunad</td>
                <td>@x.Cariler.CariAd  @x.Cariler.CariSoyad </td>
                <td>@x.Personel.PersonelAd  @x.Personel.PersonelSoyad </td>
                <td>@x.Fiyat</td>
                <td>@x.Adet</td>
                <td>@x.Toplam</td>
                <td>@x.Tarih</td>
            </tr>
        }
    </tbody>
</table>
<br />
<a href="#" class="btn btn-default" style="background-color:dodgerblue">Yazdır</a>

<link href="~/Content/bootstrap.css" rel="stylesheet" />

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

<link href="https://cdn.datatables.net/1.10.15/css/dataTables.bootstrap.min.css" rel="stylesheet" />
<link href="https://cdn.datatables.net/responsive/2.1.1/css/responsive.bootstrap.min.css" rel="stylesheet" />
<script src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.15/js/dataTables.bootstrap4.min.js "></script>

<script>
    $('#tbl1').dataTable({});
</script>
