@model MvcOnlineTicariOtomasyon.Models.Siniflar.Faturalar
@{
    ViewBag.Title = "FaturaEkle";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<h2>Fatura Ekleme Sayfası</h2>

<br />
<form class="form-group" method="post">
    @Html.Label("Fatura Seri Numarası")
    <input class="form-control" type="text" name="FaturaSeriNo" />
    <br />
    @Html.Label("Fatura Sıra Numarası")
    <input class="form-control" type="text" name="FaturaSıraNo" maxlength="30" required />
    <br />
    @Html.Label("Vergi Dairesi")
    <input class="form-control" type="text" name="VergiDairesi" maxlength="30" required />
    <br />
    @Html.Label("Tarih")
    <input class="form-control" type="text" name="Tarih" maxlength="30" required />
    <br />
    @Html.Label("Saat")
    <input class="form-control" type="text" name="Saat" maxlength="250" required />
    <br />
    @Html.Label("TesLim Eden Kişi")
    <input class="form-control" type="text" name="TeslimEden" maxlength="250" required />
    <br />
    @Html.Label("Teslim Alan kişi")
    <input class="form-control" type="text" name="TeslimAlan" maxlength="250" required />
    <br />
    <button class="btn btn-primary">Kaydet</button>
</form>