@using MvcOnlineTicariOtomasyon.Models.Siniflar
@model List<SatisHareket>
@{
    ViewBag.Title = "DepartmanPersonelSatis";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<h2>Personel Satışları</h2>

<ol class="breadcrumb mb-4" >
    <li class="breadcrumb-item active" >Personel Adı: @ViewBag.dpers</li>
</ol>
<table class="table table-condensed">
    <tr>
        <th>Satış ID</th>
        <th>Ürün</th>
        <th>Cari</th>
        <th>Fiyat</th>
        <th>Adet</th>
        <th>Toplam</th>
        <th>Tarih</th>
    </tr>
    @foreach(var x in Model)
    { 
    <tr>
        <td>@x.Satisid</td>
        <td>@x.Urun.Urunad</td>
        <td>@x.Cariler.CariAd  @x.Cariler.CariSoyad </td>
        <td>@x.Fiyat<td>
        <td>@x.Adet<td>
        <td>@x.Toplam<td>
        <td>@x.Tarih<td>
        <a href="#" class="btn btn-default" style="background-color:dodgerblue">Yazdır</a>
    </tr>
    }
</table>